<?xml version='1.0' encoding='utf-8'?>
<widget id="app.chatapp.com" version="1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>ChatApp!</name>
    <description></description>
    <author email="devteam@webFactory.com" href="http://devTeam.com">
        WebFactory DevTeam
    </author>



    <!-- Customize your app and platform with the preference element. -->
    <preference name="permissions"                value="none"/>
    <preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled -->
    <preference name="target-device"              value="universal" />      <!-- all: possible values handset, tablet, or universal -->
    <preference name="fullscreen"                 value="false" />           <!-- all: hides the status bar at the top of the screen -->
    <preference name="webviewbounce"              value="true" />           <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
    <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="stay-in-webview"            value="false" />          <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
    <preference name="ios-statusbarstyle"         value="black-opaque" />   <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="detect-data-types"          value="true" />           <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="auto-hide-splash-screen"    value="true" />           <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="disable-cursor"             value="false" />          <!-- blackberry: prevents a mouse-icon/cursor from being displayed on the app -->
    <preference name="android-installLocation"    value="auto" />           <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="KeyboardDisplayRequiresUserAction" value="true" />
    <preference name="HideKeyboardFormAccessoryBar" value="true" />
    <preference name="SplashScreen" value="splash" />
    <preference name="SplashScreenDelay" value="1" />
    <preference name="DisallowOverscroll" value="false"/>
	<preference name="KeyboardShrinksView" value="true" />
    <preference name="TopActivityIndicator" value="gray" />
    <gap:platform name="ios" />
    <gap:platform name="android" />.
    <!-- SPLASH SCREEN IMAGE -->

    <!-- PLUGINS --> 
	<gap:plugin name="org.apache.cordova.media" />
	<gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="aerogear-cordova-push" source="npm" version="1.0.4"/>

    <access origin="*"/>

    <gap:config-file platform="ios" parent="CFBundleShortVersionString">
        <string>100</string>
    </gap:config-file>
    <gap:config-file platform="ios" parent="UIStatusBarHidden">
        <true/>
    </gap:config-file>
    <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
        <false/>
    </gap:config-file>  
</widget>
